<router-outlet></router-outlet>
<!--<div class="mike">
    <img src="../assets/mike.png" alt="">
</div>-->
<mat-toolbar>
    <div class="row w-100 m-0">
        <div class="home all" routerLink="/">
            <span class="material-icons">
                home
            </span>
            <p> Home</p>
        </div>
        <div class="win all" routerLink="/login">
            <span class="material-icons">
                emoji_events
            </span>
            <p>Win</p>
        </div>
        <div class="my all" routerLink="/login">
            <span class="material-icons">
                person
            </span>
            <p>My</p>
        </div>
    </div>
</mat-toolbar>