mat-toolbar{
    position: fixed;
    bottom: 0;
}
.home{
    width: 100px;
    font-family: auto;
    font-size: 14px;
    cursor: pointer;
    height: 60px;
    text-align: center;
   
    p{
        margin-bottom: 0px;
        line-height:0px;
    }
}
.all:focus{
    height: 60px;
    background: gainsboro;
    text-align: center;
    outline: none;
}
.all:hover{
    background: gainsboro;
}
.win{
    width: 100px;
    margin: auto;
    font-family: auto;
    font-size: 14px;
    cursor: pointer;
    height: 60px;
    text-align: center;
    
    p{
        margin-bottom: 0px;
        line-height:0px;
    }
}
.my{
    width: 100px;
    font-family: auto;
    font-size: 14px;
    cursor: pointer;
    height: 60px;
    text-align: center;
    span{
        margin-left:-2px;
    }
    p{
        margin-bottom: 0px;
        line-height:0px;
    }
}
/*.mike{
    position: fixed;
    z-index: 10;
    bottom: 100px;
    right: 75px;
    border: 1px solid white;
    border-radius: 156px;
    width: 143px;
  
    img{
      
    border-radius: 72px;
    }
}*/