
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

input[type=text] {
    outline: none;
    font-family: auto;
    border:none;
    background-color:white;
    height:35px
}
input[type=text]:focus {
    outline: none;
    font-family: auto;
    border:none;
    background-color:white;
    height:35px
}
input[type=password] {
    outline: none;
    font-family: auto;
    border:none;
    background-color:white;
    height:35px
}
input[type=password]:focus {
    outline: none;
    font-family: auto;
    border:none;
    background-color:white;
    height:35px
}
input[type=email] {
    outline: none;
    font-family: auto;
    border:none;
    background-color:white;
    height:35px
}
input[type=email]:focus {
    outline: none;
    font-family: auto;
    border:none;
    background-color:white;
    height:35px
}
button,h1,h2,h3,h4,h5,h6,span,p,a{
    font-family: auto;
}
button:focus{
    outline: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
