<div class="mike">
    <img src="../assets/mike.png" alt="">
</div>
<div class="row header mr-0 ml-0 w-100">
<img src="../../assets/download.png" alt="" (click)="newTab()">
</div>
<div class="row w-100">
    <div class="col-6 boxm1">
        <img src="../../assets/card-1.png" alt="" routerLink="/login">
    </div>
    <div class="col-6 boxm2">
        <img src="../../assets/card-2.png" alt="" routerLink="/login">
    </div>
    <div class="col-6 box1">
        <img src="../../assets/card-3.png" alt="" routerLink="/login">
    </div>
    <div class="col-6 box2">
        <img src="../../assets/card-4.png" alt="" routerLink="/login">
    </div>
    <div class="col-6 boxn1">
        <img src="../../assets/card-5.png" alt="" routerLink="/login">
    </div>
    <div class="col-6 boxn2">
        <img src="../../assets/card-6.png" alt="" routerLink="/login">
    </div>
</div>
