<mat-toolbar color="primary" class="header">
    <span (click)="back()" class="material-icons">arrow_back</span>
    <span>Reset Login Password</span>
</mat-toolbar>
<div class="row m-0 w-100">
    <div class="container-fluid">
        <div class="row m-0 w-100">
            <form [formGroup]="forgetPassword">
                <div class="col-12">
                    
                    <div class="row mt-4">
                        <mat-card>
                            
                            <div class="row input">
                                <div class="col-1">
                                    <span class="material-icons">
                                        phone_iphone
                                    </span>
                                </div>
                                <div class="col-11">
                                    <input type="text" placeholder="Mobile Number" formControlName="mobile">
                                </div>
                            </div>
                            
                        </mat-card>
                    </div>
                    <div class="row mt-1">
                        <div class="col-8">
                            <div class="row mt-1 ">
                                <mat-card>
                                    <div class="row input">
                                        <div class="col-1 ">
                                            <div class="icon">
                                                <span class="material-icons">
                                                    textsms
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-11 ">
                                            <input type="password" placeholder="Verification Code" formControlName="mobile">
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                        <div class="col-4">
                            <button mat-raised-button class="otp">OTP</button>
                        </div>
                    </div>
                    <div class="row mt-1 mb-3">
                        <mat-card>
                            <div class="row input">
                                <div class="col-1 ">
                                    <div class="icon">
                                        <span class="material-icons">
                                            vpn_key
                                        </span>
                                    </div>
                                </div>
                                <div class="col-11 ">
                                    <input type="password" placeholder="New Password" formControlName="mobile">
                                </div>
                            </div>
                        </mat-card>
                    </div>
                    <div class="row mt-1 mb-3">
                    <button mat-raised-button color="primary" class="register">Continue</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>